@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

html {
    font-family: Chivo, sans-serif;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
input,
label,
button {
    font-family: Montserrat, sans-serif !important;
}

:root {     
    --primary: #000000;
    --color: #f2f8fa;
    --gold: #f9b707;
    --orange: #f06500;
    --bg-color1: #1c1b24;
    --bg-color2: #1f1e29;
    --bg-color3: rgb(11 10 14 / 20%);
    --txtlink: #fff;
    --ripple: #fff;
    --top-shadow: #111;
    --border-color: rgb(149 149 149 / 28%);
    --t-transition: 1s;
}

.light { 
    --color: #000; 
    --bg-color1: #fff; 
    --bg-color2: #f1f1f1;
    --bg-color3: rgb(184 184 184 / 20%);
    --txtlink: #363636;
    --ripple: #d3b749;
    --top-shadow: #d3b749;
}
.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-73deg, rgba(255, 255, 255, 0.0) 25%, rgb(213 213 214 / 10%) 50%, rgba(255, 255, 255, 0.0) 75%);
    background-size: 200% 100%;
    animation: loading 5s linear infinite;  
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

body {
    background-color: var(--bg-color1);
    color: var(--color);
}

img {
    width: 100%;
}

body.wlc {
    overflow: hidden;
}

pre {
    display: block;
    font-size: 87.5%;
    color: inherit;
    background-color: #00000047;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

textarea,
input, .scan-qr { 
    background: #2b2936;
    color: var(--color);
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    height: 43px;
    margin-bottom: 14px;
    outline: none;
    border: none;
}
.scan-qr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scan-qr input {
    padding: 0 10px;
    margin: 0;
    border: 0;
}

.scan-qr svg { 
    height: 20px;
    margin: 10px;
    cursor: pointer;
    fill: var(--color);
}
.my-qr-reader {
    position: relative;
    width: 40%;
    min-width: 250px;
    max-height: 250px;
    margin: auto;
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
    border-color: var(--border-color) !important;
}
.my-qr-reader > div:first-child {
    display: none;
}
.my-qr-reader img {
    filter: invert(0.6);
}
button {
    color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    padding: 12px 25px 12px;
    margin: 1px;
    text-align: center;
    font-size: 16px;
    outline: 0;
    border-width: 0;
}
button:disabled {
    opacity: 0.7;
    pointer-events: none;
}
button:hover {
    color: rgba(255, 255, 255, 0.95);
}
.my-qr-reader button {
    background: var(--primary);
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 10px;
}
button:focus,
button:active {     
    outline: 0;
    background: rgb(0 0 0 / 10%);
}

.hide-element {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.fa-tiny-margin {
    margin-top: 4px;
}

.fa-stacked-ptr {
    cursor: pointer;
    margin-right: 15px;
}

.nav-logo {
    display: flex;
    margin-right: 1rem;
    color: #fff !important;
    font-size: 19px;
    font-weight: 800;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
}

.brand-logo {
    width: 37px;
    margin-right: 10px;
}

.navButton {
    color: #999;
}

.navButton:hover {
    color: #334758 !important;
}

.alert-danger {
    color: #fff;
    background-color: #ffabb361;
    border-color: #ba0014;
}
 

.minor-notif-subtext {
    opacity: 0.5;
    padding: 10px 5px 30px;
    text-align: center;
}

input::-moz-focus-inner {
    border: 0;
}

.large-box {
    background: linear-gradient(0.37turn, var(--bg-color3), var(--bg-color2));
    background: -webkit-linear-gradient(0.37turn, var(--bg-color3), var(--bg-color2));
    border-radius: 8px;
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
} 
 
.modal {    
    background: rgb(0 0 0 / 34%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.modal-label {     
    position: relative;
    top: 20px;
    font-family: monospace;
    font-size: small;
}
#dismiss-modal span {
    font-size: 3rem;
    line-height: 0;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
}
.auto-fit {
    width: 100%;
    height: auto;
}

@-webkit-keyframes disco {
    from { -webkit-filter: hue-rotate(0deg); }
    to { -webkit-filter: hue-rotate(360deg); }
}
@keyframes disco {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
}

.discoFilter {
    -webkit-animation-name: disco;
    animation-name: disco;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.reload {
    position: relative; 
    cursor: pointer;
    -webkit-animation-name: spinner;
    animation-name: spinner;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.playAnim {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
#page-container {
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-direction: column; 
}
.side_nav #page-container {
    flex-direction: row; 
}
#content-wrap {
    position: relative; 
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.welcome-wrapper {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.welcome-wrapper:before,
.welcome-wrapper:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
}

.welcome-wrapper:before {
    background: url(../images/map.webp) no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.08;
}

.welcome-wrapper:after {
    background: var(--bg-color2);
    z-index: -1;
}

.welcome-section {
    flex-basis: 55%;
    display: flex;
    max-width: 644px;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}
.navbar-collapse {
    position: absolute; 
    right: 0;
}

.buttons-section {
    display: flex;
    gap: 15px;
    flex-direction: row;
} 

.btn-border {
    position: relative;
    display: flex;
    padding: 15px 30px;
    color: #fff;
    background: transparent;
    font-weight: 700;
    text-decoration: none;
    border-radius: 200px;
    box-shadow: 1px 0px 0px 0px var(--orange), 0 0px 0px 1px var(--gold);
    cursor: pointer;
    align-items: center;
}


nav .btn-border {
    padding: 11px;
    background: var(--primary);
}

.btn-border:hover {
    color: #fff;
    text-decoration: none;
} 
.side_nav nav .btn-border {
    background: none;
    box-shadow: none;
}

.btn-border img {
    position: relative;
    top: -1px;
    z-index: 1;
    width: 23px;
    height: 23px;
    transition: margin-right 0.5s ease; /* Add smooth transition */
    transition-delay: .1s;
}
nav .btn-border:hover img:not(.side_nav img), #Network.hover img  {
    margin-right: 10px; /* Only add margin when span is visible */
}
nav .btn-border span {
    display: inline-block;
    opacity: 0;
    max-width: 0; /* Initially set max-width to 0 */
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap; /* Prevent text wrapping */
    transition: max-width 0.8s ease, opacity 0.5s ease-out; /* Smooth transition */
    transition-delay: .2s;
    overflow: hidden;
}


nav .btn-border:hover span, #Network.hover span {
    max-width: 200px; /* Set a maximum width large enough to fit the text */
    opacity: 1;
}

.btn_txt {
    position: relative;
    text-wrap: nowrap;
    z-index: 1;
}
 
.no-gutters .btn-border:after {
    background-color: #1f1e29;
}

.image-section {
    position: relative;
    width: 50%;
    flex-basis: 50%;
    max-width: 644px;
    background: url(../images/bg-wallet.png) no-repeat;
    background-size: 55%;
    background-position: center;
}

.rm-pd {
    padding: 15px 15px 0;
}

.max-width {
    width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: #ecd3af;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #334758 !important;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #b088ff !important;
}

.active {
    color: #f9b707 !important;
}

/* Style the tab content */
.tabcontent { 
    font-family: sans-serif;
    display: none;
    padding: 6px 12px;
    border-radius: 8px;
}

#Settings {
    width: 100%;
    max-width: 900px;
}

.frame {
    display: block;
    margin: 0 auto;
    background: #2B0950BF;
}

/* DASHBOARD */

#guiWallet {
    width: 100%;
}

#bcg-wallet-box {
    width: 100%;
    border-radius: 8px;
}

/* -- Headline dashboard -- */

#coin-icon {
    position: relative;
    width: 24%;
}

#piv-ring {
    display: none;
    width: 65px;
    height: 65px;
    /*border-style: solid;*/
    border-radius: 50%;
    border-width: 3px;
    background-size: cover;
    background-image: url(../Spinning_Freedomcoin.gif);
}
#bal-title, #bal-usd {
    font-size: 15px;
    font-weight: 100;
}
.balance-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
#number-piv { 
    vertical-align: top;
    width: auto; 
}

#guiBalanceBox {
    display: inline-block;
    font-size: x-large;
    margin: 0;
}
#headline-balance {
    display: flex;
    margin: 40px auto 0;
    width: 90%;
    justify-content: space-between;
}
#balance-box {
    position: relative;
    display: flex;
    flex: 0 0 calc(60% - 10px);    
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

#bal-wrapper { 
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: flex-start;
}

.balance-transaction {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.balance-transaction > div {
    cursor: pointer;
}
.dep-text img, .send-text img {
    width: 30px;
    height: auto;
    margin-right: 5px;
    opacity: .8;
}


/* General Styles for the Swap Box */
#swap-box {
    flex: 0 0 calc(40% - 10px);
    padding: 20px;
  }
  
  /* Header */
  .swap-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .swap-header h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  /* Body */
  .swap-body {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .swap-section {
    display: flex;
    flex: 0 0 calc(50% - 10px);
    flex-direction: column;
    justify-content: center;
  }
  
  /* Input Group */
  .input-group {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .input-group input {
    flex: 1;
    margin: 0;
    height: 40px;
    padding: 0 50px 0 10px; /* Add padding for the select dropdown */
    font-size: 16px;
  }
  
  .input-group select {
    position: absolute;
    right: 5px;
    font-size: 13px;
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
    outline: none;
  }
  
  #from-coin {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 7px;
    pointer-events: none;
}


  
  /* Button */
  #swap-button {
    flex-basis: 40%;
    margin: 5px auto;
    padding: 11px 20px;
    text-transform: capitalize;
  }
  
  #swap-button:hover {
    opacity:0.9;
  }
  
  #swap-button:active {
    transform: scale(0.98);
  }
  

/* -- Headline -- */

/* -- Background -- */
#address-box, #Transaction {    
    position: absolute;
    display: none;
    width: 60%;
    min-width: 300px;
    padding: 30px 25px;
    background: var(--bg-color1);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    border: 1px solid var(--border-color);
    text-align: center;
}

#address-box.large-box,
#transaction_table {
    margin: 0 auto;
}
  
#big-frame-address {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
}
#transactionTableBody {
    position: relative;
    display: flex;
    gap: 15px; 
    flex-direction: column;
}

#transactionTableBody.large-box.loading { 
    padding: 20px; 
}

.transaction-row {
    display: flex;
    color: var(--color);
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.transaction-row .details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.transaction-row .icon {
    margin-right: 20px;
    padding: 10px; 
    border-radius: 100px;
} 
.transaction-row .icon.received { 
    background: rgb(40 167 69 / 39%);
} 
.transaction-row .icon.sent { 
    background: rgb(255 0 0 / 39%); 
} 
.transaction-row .icon.self-transfer, .transaction-row .icon.unknown { 
    background: rgba(255, 217, 0, 0.39); 
} 
.transaction-row .icon::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: inherit;
    border-radius: inherit;
}
.transaction-row .status {
    min-width: 90px;
}



#more_transaction {
    text-align: center;
  }
  
#more_transaction a {
    font-weight: 200;
    margin-top: 20px;
    padding-right: 20px;
    color: #fff;
    background: url(../images/icons/arrow.svg) right no-repeat;
    background-size: 25%;
    opacity: 0.7;
}


/* -- Background -- */

/* -- Box of Content -- */

#title-address-box { 
    padding: 10px 20px 0 30px;
    margin: 0 !important;
}

#box-info-address {
    display: inline-block;
    width: 69%;
    padding-top: 30px;
}

/* -- Into -- */

#address-info {
    display: flex;
    gap: 15px;
    min-width: 240px;
    max-width: 400px;
    margin: auto;
    padding: 0 0 20px 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#guiAddress {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-break: anywhere;
    word-break: break-all;
    font-family: monospace;
    font-weight: 300;
}

#guiQRButton {
    display: inline-block;
    width: auto; 
    font-size: large;
}

/* -- Box of Content -- */

#Settings > div {
    margin-bottom: 20px;
}

/* -- Pubkey QR -- */

.mobile-pubkey {
    display: none !important;
}

#box-info-address {
    vertical-align: top;
}

#pubkey-padd {
    display: inline-block;
    height: auto;
    width: 30%;
}

#pubkey-box {
    display: block !important;
    width: 100% !important;
    margin: 0;
    text-align: center; 
    margin: auto;
}

#PrivateQR img,
#PublicQR img {
    width: 95px !important;
    height: 95px !important;
}

#PrivateTxt {
    color: black;
    font-size: 12px !important;
    text-align: center;
    line-height: 20px;
}

#pubkey-box .pivx-button-big {
    position: absolute;
    font-size: 13px !important;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 15px;
    box-shadow: none;
    text-transform: capitalize;
    cursor: pointer;
}
/* -- Pubkey QR -- */

/*-- Warning --*/

#genKeyWarning {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    min-width: 300px; 
    padding: 20px;
    padding-bottom: 35px;
    background-color: rgb(217 74 41 / 51%);
    -webkit-transform: scaleY(1) translate(0, -50%);
    transform: scaleY(1) translate(0, -50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    -webkit-transition: transform 0.3s ease, padding 0.3s ease, width 0.3s ease;
    transition: transform 0.3s ease, padding 0.3s ease, width 0.3s ease;
    z-index: 1100;
}

#genKeyWarning.hide {
    padding: 20px 10px;
    -webkit-transform: scaleY(0.8) translate(-100%, 40vh);    
    transform: scaleY(0.8) translate(-100%, 40vh);    
    z-index: 1040;
}

#genKeyWarning.hide > *:not(.hide-modal) {
    display: none !important;
}

#genKeyWarning .hide-modal {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#genKeyWarning.hide .hide-modal {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

#genKeyWarning > div {
    display: inline-block;
    width: 100%;
    max-width: calc(100% - 304px) !important;
    padding-top: 5px;
}

#encryptPassword { 
    padding: 0 20px;
    text-align: center; 
}

#genKeyWarning .pivx-button-big {
    float: right;
}

/* -- Warning -- */

#Settings #keyQR {
    max-width: 82px;
}
.margin-padded-qr {
    margin-bottom: 20px; 
}

/* SAVINGS */

.savings-frame {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
    min-width: 300px;
    background: linear-gradient(0.25turn, var(--bg-color3), var(--bg-color2));
    background: -webkit-linear-gradient(0.25turn, var(--bg-color3), var(--bg-color2));
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 5px;
    overflow: hidden;
}

#savings-title {
    display: inline-block;
    font-size: 20px; 
    cursor: default;
}

#SavingsTab {
    padding: 10px 10px 30px;
    margin: 20px 0 100px;
}

.savings-banner-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 200px;
    width: 100%;
}

#savings-rectangle {
    position: relative;
    display: flex;
    max-width: 100% !important; 
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#savings-price-box {
    display: flex;
}  

#guiBalanceBoxSavings { 
    display: flex;
    align-items: center;
}

#savings-box { 
    padding: 25px 20px;
}

.savings-icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-style: solid;
    border-radius: 1000px;
    border-width: 3px;
    background-size: cover;
    background-image: url(../images/freed-op.png);
}

.savings-box {
    display: flex;
    width: 90%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.savings-balances {
    font-size: 20px;
    padding-left: 20px;
}

.savings-input {
    text-align: center;
}

.savings-box .pivx-button-big {
    text-transform: capitalize;
}

.savings-frame #transaction_table {
    width: 95%;
    margin-top: 0 !important;
    margin-bottom: 25px;
}


/* FOOTER */

#foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid var(--border-color); 
}

.footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
}

.footer a {
    color: white;
    font-weight: bold;
}

#dcfooter {
    display: inline;
}

.navbarSpecial {
    width: 100%;
    padding: 20px 48px;
    z-index: 1;
}
.side_nav .navbarSpecial { 
    position: sticky;
    top: 0;
    width: 25%;
    height: 100vh;
    padding: 20px 10px;
    background: var(--bg-color3);
    flex-direction: column;
    justify-content: flex-start;
}

nav > .container {
    position: relative; 
}
.side_nav nav > .container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}
.side_nav nav .navbar-collapse {
    position: relative;
    display: flex !important;
    top: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.side_nav nav .buttons-section {
    padding: 0;
    flex-direction: column;
}
.side_nav nav .btn-border span {
    margin-left: 10px;
    max-width: unset;
    opacity: 1;
} 

/* New styling */

/* Buttons */
.pivx-button-big {
    display: inline-block;
    outline: none;
    margin: 5px;
    font-family: Montserrat, sans-serif;
    height: auto;
    padding: 14px 30px;
    line-height: 1.25em;
    font: 15px Montserrat, sans-serif !important;
    letter-spacing: .025em;
    text-transform: uppercase;
    box-shadow: 1px 0px 0px 0px var(--orange), 0 0px 0px 1px var(--gold), 3px 3px 25px 2px rgb(26 14 42 / 50%);
    -webkit-box-shadow: 1px 0px 0px 0px var(--orange), 0 0px 0px 1px var(--gold), 3px 3px 25px 2px rgb(26 14 42 / 50%);
}

.button-padd {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 15px 10px;
}

.home-hero {
    background: linear-gradient(var(--top-shadow), var(--bg-color2) 25%);
    background: -webkit-linear-gradient(var(--top-shadow), var(--bg-color2) 25%);
}

/* Rest of your CSS continues here... *//*PIVX WARNINGS*/
.warning-message {
    display: none;
    background-color: #9021fe;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.warning-message p {
    margin-bottom: 0px;
}

.warning-message a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.alert-danger {
    border-color: hsla(0, 0%, 100%, .1);
}

/*PIVX TEXT CUSTOMS*/
.pivx-bold-title, .addr-title {
    line-height: 1.35em;
    font-size: calc(22px + .7vw);
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.pivx-bold-title-smaller {
    line-height: 1.35em;
    font-size: 28px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.addr-title span,
.pivx-bold-title span,
.pivx-bold-title-smaller span {
    font-size: .6em;
    display: block;
    line-height: 1.2em;
    font-weight: 300;
}
.addr-title span {
    display: unset;
}
.center-text {
    text-align: center;
}

/*PIVX FEATURES SECTION*/
.pivx-feature-father {
    margin-top: 90px;
}

.pivx-feature-interior {
    background: linear-gradient(90deg, #2b1542, #230f3c);
    background: -webkit-linear-gradient(left, #2b1542, #230f3c);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.pivx-feature-interior h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 19px;
}

.pivx-feature-interior h5 {
    opacity: 0.65;
    padding: .7rem 0 1.25rem;
    line-height: 1.75em;
    font-size: 16px;
    font-weight: 300 !important;
}

.feature-icon {
    text-align: center;
    width: 100% !important;
    margin-top: -90px;
    min-height: 150px;
}

.feature-icon img {
    width: 146px;
    height: auto;
}

.smaller-feature {
    width: 100px !important;
}

.features-section {
    margin-top: 0px;
}

.buttoni-icon {
    vertical-align: top;
    display: inline-block;
    padding: 0 12px 0 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-icon svg {
    display: block;
    width: auto;
    height: 24px;
    max-height: 24px;
    margin: 0;
    fill: #fffeff;
}

.buttoni-text {
    vertical-align: top;
    display: inline-block;
    padding: 2px 0 0;
}

.buttoni-arrow {
    vertical-align: top !important;
    display: inline-block;
    padding: 4px 0 4px 10px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-arrow svg {
    display: block;
    width: 15px;
    height: auto;
    margin: 0;
    fill: #fffeff;
}

.purple-icon-link {
    color: #9621ff;
}

.purple-icon-link,
.white-icon-link {
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.black-link .link-icon.link-icon-suffix,
.dark-link .link-icon.link-icon-suffix,
.faded-link .link-icon.link-icon-suffix,
.gray-link .link-icon.link-icon-suffix,
.light-link .link-icon.link-icon-suffix,
.pink-link .link-icon.link-icon-suffix,
.purple-icon-link .link-icon.link-icon-suffix,
.purple-link .link-icon.link-icon-suffix,
.shaded-link .link-icon.link-icon-suffix,
.white-icon-link .link-icon.link-icon-suffix,
.white-link .link-icon.link-icon-suffix,
a .link-icon.link-icon-suffix {
    padding: 0 0 0 .6rem;
    float: right;
    margin-top: 2px;
    -webkit-transition: padding-left .14s ease-out;
    transition: padding-left .14s ease-out;
}

.black-link .link-icon svg,
.dark-link .link-icon svg,
.faded-link .link-icon svg,
.gray-link .link-icon svg,
.light-link .link-icon svg,
.pink-link .link-icon svg,
.purple-icon-link .link-icon svg,
.purple-link .link-icon svg,
.shaded-link .link-icon svg,
.white-icon-link .link-icon svg,
.white-link .link-icon svg,
a .link-icon svg {
    display: block;
    width: 19px;
    height: auto;
    fill: #cac9d2;
}

.black-link,
.dark-link,
.faded-link,
.gray-link,
.light-link,
.pink-link,
.purple-icon-link,
.purple-link,
.shaded-link,
.white-icon-link,
.white-link,
a {
    vertical-align: top;
    display: inline-block;
    text-decoration: none !important;
}

.black-link,
.dark-link,
.faded-link,
.gray-link,
.light-link,
.pink-link,
.purple-icon-link,
.purple-link,
.shaded-link,
.white-icon-link,
.white-link,
a {
    outline: none;
    background: none;
    border: none;
}

/*PIVX DONATION SECTION*/
.donation-section {
    margin-top: 30px;
    margin-bottom: 80px;
}

/*PIVX DASHBOARD*/
.dashboard-item {
    background: var(--bg-color2);
    border-radius: 15px;
    padding: 0 15% 10px 15%;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.send-eligibility-section .container .column-padded-around .coinstat-icon,
.supply-control-section .container .column-padded-around .coinstat-icon {
    margin-bottom: .5rem;
}

.coinstat-icon,
.coinstat-icon svg,
.masternodes-requirements-section .masternode-requirement-icon,
.masternodes-requirements-section .masternode-requirement-icon svg,
.setup-icon,
.setup-icon svg {
    margin: 0 auto;
}

.coinstat-icon,
.feature-icon,
.masternodes-requirements-section .masternode-requirement-icon,
.setup-icon {
    display: block;
    width: 75px;
    height: 75px;
    padding: 0;
}

.coinstat-icon svg,
.feature-icon svg,
.masternodes-requirements-section .masternode-requirement-icon svg,
.setup-icon svg {
    display: block;
    width: 75px;
    max-height: 75px;
    padding: 0;
    fill: #9621ff;
}

.dashboard-title {
    margin-top: 15px;
}

.badge {
    margin-bottom: 13px;
}

.private-key-area {
    height: 45px !important;
    font-size: 14px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #2b2936;
    border: none;
    resize: none; 
}

/* SEND */

#sendNotice  {
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}

#communication {
    color: white;
    opacity: 0.6;
    padding: 15px 5px 70px 5px;
}

#signed-raw {
    padding: 10px 0 5px;
}

.bold-trans {
    padding: 15px 0 15px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

/* SETTINGS */

#submit-button.pivx-button-big {
    width: auto !important;
    padding: 14px 90px;
}

#CreateManualTransactions,
#communication {
    display: none;
}

/* Alert */
.alertPositioning {
    position: fixed;
    z-index: 1100;
    right: 10px;
    bottom: 10px;
}

.alertpop {
    padding: 20px;
    right: 0px;
    background-color: #282828b5;
    color: white;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alertpop.success {
    background-color: #0DE69694;
}

.alertpop.info {
    background-color: #2196F37D;
}

.alertpop.warning {
    background-color: #d94a2982;
}

.alertpop:hover {
    cursor: pointer;
}

/* BREAKPOINTS */

@media screen and (max-width: 1200px) {

    /* Stake page */

    .button-padd .pivx-button-big {
        margin: 0;
        display: inline-block !important;
        width: 100% !important;
        padding: 15px 13px;
    }
}

@media screen and (max-width: 1199px) {

    /* Dashboard page */
    #genKeyWarning .pivx-button-big {
        margin-top: 20px;
    }

    #PrivateQR img,
    #PublicQR img {
        width: 90px !important;
        height: 90px !important;
    }

    #box-info-address {
        width: 64%;
    }

    #pubkey-padd {
        width: 33%;
    }
}

@media (max-width: 1050px) {
    .side_nav .navbar {
        flex: 0;
        width: auto;
    }
    .side_nav .navbar .navbarSpecial {
        width: auto;
    }
    .side_nav .navbar .nav-logo {
        margin: 0;
    }
    .side_nav .navbar .brand-logo {
        width: 40px; 
        margin-right: 5px;
    }
    .side_nav .navbar-toggler, .side_nav .navbar .brand-txt {
        display: none;
    }
    .side_nav nav .btn-border span { 
        position: absolute;
        background: linear-gradient(45deg, transparent, var(--bg-color3));
        opacity: 0;
        left: 0;
        margin: 0;
        padding: 10px 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: opacity 0.3s ease-out, left 0.3s ease-out 0.1s;
    }
    .side_nav nav .btn-border:hover span { 
        left: 50px;
        opacity: 1;
        transition: opacity 0.2s ease-out 0.1s, left 0.3s ease-out;
    }
    .side_nav nav > .container { 
        padding: 0;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 25px;
    }

    #PublicTxt {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 18px;
    }

    #PublicTxt {
        font-size: 25px;
    }

    /* Settings */

    #Settings .pivx-button-big {
        margin: 8px 2px;
    }
}

@media screen and (max-width: 1000px) {

    /* Stake page */

    #guiBalanceBoxStaking {
        display: inline-block;
        width: 100%;
    }

    .stake-box.large-box.col-md-4 {
        padding: 10px;
        display: inline-block !important;
        width: 50% !important;
        margin: 30px 10px !important;
    }

    .add-frame {
        width: 100% !important;
    }

    .stake-box .button-padd {
        padding: 15px 6px;
    }

    .stake-box .button-padd .pivx-button-big {
        padding: 15px 22px 15px 27px;
    }

    .stake-box .button-padd .buttoni-icon {
        display: none;
    }

    .button-padd .buttoni-arrow {
        padding-left: 5px;
        padding-right: 0;
    }
}

@media screen and (min-width: 992px) {  
    .navbar-collapse > div {
        display: flex;
        gap: 50px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-toggler {
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    .navbar-toggler .line {
        width: 29px;
        height: 2px;
        background-color: var(--color) !important;
        display: block;
        margin: 6px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .navbar-toggler.collapse .line:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar-toggler.collapse .line:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.collapse .line:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(6px, -6px);
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .navbar-collapse {
        top: 100%;
        -webkit-transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }

    .image-section {
        background-size: 85%;
        background-position: right;
    }

    /* Dashboard page */

    #big-frame-address {
        padding: 20px 0;
    }

    #genKeyWarning > div {
        max-width: 100% !important;
    }

    #genKeyWarning p {
        width: 100% !important; 
    }

    #genKeyWarning .pivx-button-big {
        float: none;
        clear: both;
        display: block !important;
        margin: 0 auto;
    } 

    #box-info-address {
        display: block;
        width: 100%;
        padding-top: 20px;
    }

    .margin-padded-qr {
        margin-bottom: 20px; 
    }

    #PrivateQR img,
    #PublicQR img {
        width: 75px !important;
        height: 75px !important;
    }

    /* Intro page */
    .intro-page .col-md-11 {
        width: 100% !important;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 991px) {
    nav .navbar-collapse>div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    } 

    nav .buttons-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding: 20px 5px;
        border-radius: 10px;
    }
    #headline-balance {
        gap: 20px;
        flex-direction: column;
    }
    #swap-box {
        display: none; 
    }
    #headline-balance {
        margin: 0 auto;
    }
    #headline-balance::before {
        content: 'FreedomCoin';
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 800; 
        color: var(--border-color);
    }
}

@media screen and (max-width: 770px) {

    #pivx-price-box {
        width: 200px;
    }

    #piv-price-amount {
        padding: 30px 15px 30px 35px;
    }

    #icon-box-piv {
        padding: 20px 10px 30px 15px;
        margin: 0 !important;
    }

    #staking-box {
        width: 190px;
        padding: 30px 5px 30px 20px;
    }
}

@media screen and (max-width: 768px) {
    .navbarSpecial {
        padding: 20px 15px;
    }

    .welcome-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .welcome-wrapper:before {
        background-image: url(../images/abstract.webp);
        background-position: 0 30%;
        opacity: 0.15;
    }

    .welcome-section {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .image-section {
        background-size: 100%;
        background-position: center;
    }

    .welcome-section h1 {
        font-size: 30px;
        font-weight: 300;
    }

    .welcome-section h5 {
        font-size: 17px;
        font-weight: 100;
    }

    .btn_txt {
        font-size: 13px;
        font-weight: 400;
    }


    /* Main Wallet page */
    #PrivateTxt {
        font-size: 17px;
    }

    #PublicTxt {
        font-size: 25px;
    }

    /* Paddings - text */
    .dashboard-item {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Dashboard page */

    #guiBalanceBox {
        margin: 0;
    }

    #address-info {
        width: 65%;
    } 
}

@media screen and (max-width: 767px) {

    /* Dashboard */
    #genKeyWarning {  
        padding-bottom: 40px;
    }
    #genKeyWarning.hide { 
        -webkit-transform: scaleY(0.8) translate(-92%, 40vh);
        transform: scaleY(0.8) translate(-92%, 40vh);
    }
    #genKeyWarning .pivx-button-big {
        padding: 13px 20px;
    }

    #piv-ring {
        display: none;
    }

    #ring {
        padding: 0 5px 20px 50px;
    }

    /* Stake page */

    .stake-box.large-box.col-md-4 {
        padding: 10px 20px;
        width: 85% !important;
    }
    .balance-transaction span {
        display: none;
    }
    #address-box, #Transaction { 
        width: 85%;
    }
}

@media screen and (max-width: 650px) {
    .side_nav #page-container {
        overflow-x: hidden; /* Fallback */
        overflow-x: clip; /* Modern browsers */
    }
    .side_nav #content-wrap {
        min-width: 100%;
        left: -65px;
        background: inherit;
        transition: cubic-bezier(0.4, 0, 0.2, 1)0.3s;
        z-index: 1050;
    }
    .side_nav #content-wrap.left {
        left: 0;
        z-index: 0;
    } 
    #headline-balance::before { 
        text-align: center; 
    }
    .balance-transaction {
        position: absolute;
        width: 110%;
        left: -5%;
        top: 33%;
        margin: 0;
        justify-content: space-between;
    }
    .balance-transaction > div {
        padding: 5px;
        border: 1px solid var(--border-color);
        border-radius: 100px;
        backdrop-filter: blur(10px);
        /*border-width: 0;*/
    }
    /*.send-text {
        border-left-width: 1px !important;
    }
    .dep-text {
        border-right-width: 1px !important;
    }*/
    .dep-text img, .send-text img {
        margin-right: 0;
    }
}

/* Note: The rest of the media queries follow the same pattern, adding prefixes where necessary for transitions and transforms. */
@media screen and (max-width: 600px) {

    /* Buttons - Hide icons or it will be deformed */
    .buttoni-arrow,
    .buttoni-icon {
        display: none;
    }

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 13px;
    }

    #PublicTxt {
        font-size: 17px;
    }

    /* STAKE page */

    #staking-box {
        padding: 30px 5px 30px 35px;
    }

    #stake-title {
        font-size: 25px;
    }

    #submit-button.pivx-button-big {
        padding: 14px 85px 14px 100px;
        margin-top: 20px;
    }

    /* Dashboard */

}

@media screen and (max-width: 550px) {

    /* Dashboard page */

    #ring {
        padding: 5px 5px 30px 40px;
        vertical-align: top;
    } 

    #title-address-box {
        width: auto;
        padding: 10px 20px 0 20px;
    }

    #box-info-address {
        padding-top: 25px;
    }

    /* STAKE page */

    #info {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 535px) {

    /* Dashboard */ 

    #transaction_table th:last-child,
    #transaction_table td:last-child {
        display: none;
    }
    .alertPositioning { 
        width: 95%;
        right: 0 !important;
        left: 0;
        margin: auto;
    }
}

@media screen and (max-width: 510px) {

    /* Dashboard page */
 
    /* Settings page */
    #Settings {
        text-align: center;
    }

    #icon-box-piv {
        display: none;
    }

    #pivx-price-box {
        width: 130px;
    }
}

@media screen and (max-width: 480px) {
    .brand-logo {
        width: 33px;
    }

    .nav-logo {
        font-size: 18px;
    }

    .welcome-wrapper {
        gap: 10px;
    }

    .welcome-wrapper .buttons-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .image-section {
        max-height: 300px;
        background-position: center 80%;
    }

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 8px;
    }

    #PublicTxt {
        font-size: 13px;
    }

    /* Stake */


    #pivx-price-box {
        width: auto;
    }

    /* Dashboard */
  
    #ring {
        padding: 5px 5px 30px 30px;
    } 
}

@media screen and (max-width: 420px) {

    /* Send */

    .max-width {
        width: 98%;
    }

    /* Settings page */

    #submit-button.pivx-button-big {
        display: block;
        height: auto;
        margin: 0 auto;
    }

    .buttoni-arrow {
        display: none;
    }

    #navbarToggler {
        position: sticky;
        left: 290px;
    }

    /* Dashboard */


    #piv-ring {
        display: none !important;
    }

    #guiBalanceBox {
        font-size: 18px !important;
    }

    #balance-box h3 {
        font-size: 20px;
    }

    #pubkey-box .pivx-button-big {
        padding: 11px 10px;
    }
 
}

@media screen and (max-width: 393px) {

    /* Dashboard */
    .dashboard-item .container {
        padding: 0;
    }

    #piv-price-amount {
        padding: 30px 15px;
    } 

    #title-address-box {
        padding: 18px 20px 0 15px;
    }

    #ring {
        padding: 5px 5px 30px 20px;
    } 
}

@media screen and (max-width: 380px) {

    /* Nav */
    #navbarToggler {
        left: 180px;
    }

    .tabcontent {
        padding: 0;
    }

    /* Stake */

    #staking-box {
        padding: 30px 10px 35px 10px;
        height: auto;
        width: auto;
    }

    /* Dashboard */

    #balance-box h3 {
        font-size: 24px;
    }

    #pubkey-box .pivx-button-big {
        padding: 11px 10px;
    }
}

@media screen and (max-width: 360px) {

    /* Dashboard */
    .pivx-button-big {
        margin-right: 0;
        margin-left: 0;
    }
 

    #piv-price-amount {
        padding: 30px 5px 30px 20px;
    }

    #balance-box h3 {
        font-size: 22px;
    } 

    /* Stake */

    #staking-box {
        padding: 35px 10px 35px 10px;
    }

    #stake-title {
        font-size: 22px !important;
        height: auto;
    }
}

@media screen and (max-width: 332px) {

    /* Dashboard */


}

@media screen and (max-width: 320px) {

    /* Intro */

    #navbarToggler {
        font-size: 14px;
    }

    .feature-icon img {
        width: 115px !important;
        height: auto;
    }

    .feature-icon .smaller-feature {
        width: 80px !important;
        height: auto;
    }

    .donation-section .pivx-button-big {
        width: 225px !important;
        margin: 0 auto;
    }

    /* Stake */

    #piv-price-amount {
        padding: 30px 5px 30px 10px;
    }

    #staking-box {
        padding: 35px 5px 35px 5px;
    }

    /* Settings */

    .pivx-button-big {
        font-size: 14px !important;
    }

    #submit-button.pivx-button-big {
        padding: 14px 50px !important;
    }
}

@media screen and (max-width: 300px) {

    /* Intro */

    #navbarToggler {
        left: 80px !important;
        font-size: 12px;
    }

    #page-container {
        min-width: 280px;
        min-height: 900px;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .row {
        margin-left: 1px;
        margin-right: 1px;
    }

    .features-section .col-md-6 {
        float: none !important;
        clear: both !important;
        display: block !important;
        margin: 100px auto 50px auto;
        width: 220px;
        margin-right: 20px;
    }

    .pivx-feature-interior {
        width: 100% !important;
        padding: 15px 8px;
    }

    .pivx-bold-title {
        font-size: calc(32px + 1vw);
    }

    .donation-section {
        margin-top: 0px;
    }

    /* Stake */

    .add-frame {
        height: 750px !important;
    }

    .stake-box.large-box.col-md-4 {
        margin: 30px 10px 10px 10px !important;
    }

    #piv-price-amount {
        padding: 30px 60px;
        text-align: center !important;
    }

    #staking-box {
        padding: 30px 20px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #a366ff;
    }

    #stake-title,
    #guiBalanceBoxStaking {
        font-weight: 600;
    }

    .stake-box .button-padd .pivx-button-big {
        padding: 14px 18px;
    }
}
