@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

html {
    font-family: Chivo, sans-serif;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
input,
label,
button {
    font-family: Montserrat, sans-serif !important;
}

:root {
    --color: #bbbbbe;
    --bg-color1: #1c1b24;
    --bg-color2: #1a1921;
    --bg-color3: rgb(11 10 14 / 20%);
    --txtlink: #fff;
    --gold: #c4a129;
    --orange: #f06500;
}

.light {
    --color: #000;
    --bg-color1: #fff;
    --bg-color2: #f1f1f1;
    --bg-color3: rgb(184 184 184 / 20%);
    --txtlink: #363636;
}

body {
    background-color: #1f1e29;
    color: #f2f8fa;
}

body.wlc {
    overflow: hidden;
}

pre {
    display: block;
    font-size: 87.5%;
    color: inherit;
    background-color: #00000047;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

textarea,
input {
    background-color: #fff;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    height: 43px;
    margin-bottom: 14px;
}

button {
    color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    padding: 12px 25px 12px;
    margin: 1px;
    text-align: center;
    font-size: 16px;
    outline: 0;
    border-width: 1px;
}

button:hover {
    color: rgba(255, 255, 255, 0.95);
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none;
}

.hide-element {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.fa-tiny-margin {
    margin-top: 4px;
}

.ptr {
    width: 82%;
    cursor: pointer;
}

.wlc .ptr {
    display: none;
}

.fa-stacked-ptr {
    cursor: pointer;
    margin-right: 15px;
}

.nav-logo {
    display: flex;
    margin-right: 1rem;
    color: #fff !important;
    font-size: 21px;
    font-weight: 800;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
}

.brand-logo {
    width: 40px;
    margin-right: 10px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    transition: .5s;
}

.nav-item {
    margin-left: 15px;
}

.navButton {
    color: #999;
}

.navButton:hover {
    color: #334758 !important;
}

.alert-danger {
    color: #fff;
    background-color: #ffabb361;
    border-color: #ba0014;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}

.minor-notif-subtext {
    opacity: 0.5;
    padding: 10px 5px 30px;
    text-align: center;
}

input::-moz-focus-inner {
    border: 0;
}

.large-box {
    background: rgba(43, 9, 80, 0.55);
    border-radius: 8px;
    border-color: #6222ab;
    border-width: 1px;
    border-style: solid;
}

.large-box:hover {
    background: linear-gradient(217deg, rgb(51, 0, 153, 0.1), rgb(34, 0, 102, 0.3) 70.71%);
    border-color: #763acf;

}
 
.modal {    
    background: rgb(0 0 0 / 34%);
    backdrop-filter: blur(2px);
}

.modal-label {     
    position: relative;
    top: 20px;
    font-family: monospace;
    font-size: small;
}

.auto-fit {
    width: 100%;
    height: auto;
}

@keyframes disco {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.discoFilter {
    animation-name: disco;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}

.reload {
    position: relative;
    top: 10px;
    left: 10px;
    display: inline-block;
    font-family: Lucida Sans Unicode;
    cursor: pointer;
    animation-name: spinner;
    animation-duration: 0.75s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.playAnim {
    animation-play-state: running;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.innerShadow {
    -webkit-box-shadow: inset hsla(0, 0%, 100%, .25) 0 2px 2px, inset rgba(0, 0, 0, .6) 0 -1px 8px;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 100%, .25), inset 0 -1px 8px rgba(0, 0, 0, .6);
}

#page-container {
    position: relative;
    min-height: calc(100vh - 75px);
}


.welcome-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
}

.welcome-wrapper:before,
.welcome-wrapper:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
}

.welcome-wrapper:before {
    background: url(../images/map.webp) no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.08;
}

.welcome-wrapper:after {
    background: var(--bg-color2);
    z-index: -1;
}

.welcome-section {
    flex-basis: 55%;
    display: flex;
    max-width: 644px;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}

.buttons-section {
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.btn-border {
    position: relative;
    padding: 15px 30px;
    color: #fff;
    background-image: linear-gradient(84deg, var(--gold), var(--orange));
    font-weight: 700;
    text-decoration: none;
    border-radius: 200px;
    cursor: pointer;
}

nav .btn-border {
    padding: 11px;
}

.btn-border:hover {
    color: #fff;
    text-decoration: none;
}

.btn-border img {
    position: relative;
    top: -1px;
    z-index: 1;
    width: 23px;
    height: 23px;
}

.btn_txt {
    position: relative;
    text-wrap: nowrap;
    z-index: 1;
}

.btn-border:after {
    position: absolute;
    content: '';
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    margin: 1px;
    border-radius: 200px;
    background-color: var(--bg-color2);
}

.no-gutters .btn-border:after {
    background-color: #1f1e29;
}

.image-section {
    position: relative;
    width: 50%;
    flex-basis: 50%;
    max-width: 644px;
    background: url(../images/bg-wallet.png) no-repeat;
    background-size: 55%;
    background-position: center;
}

.rm-pd {
    padding: 15px 15px 0;
}

.max-width {
    width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #080808;
    background-color: #000000;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: #ecd3af;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #334758 !important;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #b088ff !important;
}

.active {
    color: #f9b707 !important;
}

/* Style the tab content */
.tabcontent {
    font-family: sans-serif;
    display: none;
    padding: 6px 12px;
    border-radius: 8px;
}

#Transaction.tabcontent {
    padding-bottom: 100px;
}


.frame {
    display: block;
    margin: 0 auto;
    background: #2B0950BF;
}

/* DASHBOARD */

#guiWallet {
    width: 100%;
}

#bcg-wallet-box {
    display: block;
    width: 100%;
    border: 1px hsla(0, 0%, 100%, .1) solid;
    border-radius: 8px;
    background: #18171f;
}

/* -- Headline dashboard -- */

#window-icon-piv {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#piv-ring {
    display: none;
    width: 65px;
    height: 65px;
    /*border-style: solid;*/
    border-radius: 50%;
    border-width: 3px;
    background-size: cover;
    background-image: url(../Spinning_Freedomcoin.gif);
}
#bal-title {
    font-size: 15px;
}
#number-piv { 
    vertical-align: top;
    width: auto; 
}

#guiBalanceBox {
    display: inline-block;
    font-size: x-large;
    margin: 0;
}

#balance-box {
    display: flex;
    margin: 20px auto 0;
    width: 90%;
    height: 125px;
    background: linear-gradient(0.25turn, rgba(122, 122, 122, 0.5), rgba(115, 0, 255, 0.4));
    align-items: center;
    justify-content: space-around;
}

/* -- Headline -- */

/* -- Background -- */

#big-frame-address {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
}
 
#address-box {    
    position: absolute;
    width: 60%;
    min-width: 300px;
    padding: 30px 25px;
    background: var(--bg-color1) !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 0px 0px 0px var(--orange), 0 0px 0px 1px var(--gold);
    border: 0;
}

#address-box.large-box,
#transaction_table {
    margin: 0 auto;
    background: linear-gradient(0.15turn, rgba(43, 9, 80, 0.45), rgba(43, 9, 80, 0.02));
}

#transaction_table {
    margin-top: 30px;
    padding: 30px 25px;
}

#transaction_table th:not(:nth-child(-n+2)),
#transaction_table td:not(:nth-child(-n+2)) {
    text-align: center;
}

#transaction_table td[data-bheight] {
    display: grid;
    min-width: 70px;
}

#transaction_table td[data-bheight] a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#transaction_table table {
    display: table;
    width: 100%;
}

#transaction_table th,
#transaction_table td {
    padding: 8px;
    text-align: left;
}

#transaction_table td:first-child {
    text-wrap: balance;
    font-size: 14px;
}

#transactionTableBody tr {
    border-top: 1px solid #763acf;
}

/* -- Background -- */

/* -- Box of Content -- */

#title-address-box {
    width: 30%;
    padding: 10px 20px 0 30px;
    margin: 0 !important;
}

#box-info-address {
    display: inline-block;
    width: 69%;
    padding-top: 40px;
}

/* -- Into -- */

#address-info {
    display: inline-block;
    width: 75%;
    padding: 0 0 20px 40px;
}

#guiAddress {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-break: anywhere;
    word-break: break-all;
    font-family: monospace;
    font-weight: 300;
}

#guiQRButton {
    display: inline-block;
    width: auto;
    padding: 10px 0;
    font-size: large;
}

/* -- Into -- */

#ring {
    display: inline-block;
    padding: 10px 10px 20px 50px;
}

#identicon {
    background-color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 1000px;
}

/* -- Box of Content -- */

/* -- Pubkey QR -- */

.mobile-pubkey {
    display: none !important;
}

#box-info-address {
    vertical-align: top;
}

#pubkey-padd {
    display: inline-block;
    height: auto;
    width: 30%;
}

#pubkey-box.col-md-4 {
    float: none;
    clear: both;
    display: block !important;
    max-width: 100%;
    padding: 0 0 20px 0;
}

#pubkey-box {
    display: block;
    width: 100% !important;
    margin: 0;
    text-align: center;
}

#PrivateQR img,
#PublicQR img {
    width: 95px !important;
    height: 95px !important;
}

#PrivateTxt {
    color: black;
    font-size: 12px !important;
    text-align: center;
    line-height: 20px;
}

/* -- Pubkey QR -- */

/*-- Warning --*/

#genKeyWarning {
    position: relative;
    padding: 20px;
}

#genKeyWarning div {
    display: inline-block !important;
    width: 100%;
    max-width: calc(100% - 304px) !important;
    padding-top: 5px;

}

#genKeyWarning .pivx-button-big {
    float: right;
}

/* -- Warning -- */

.margin-padded-qr {
    margin-bottom: 10px;
    padding: 5px 10px 10px 10px;
}

/* STAKE */

.add-frame {
    display: block;
    margin: 0 auto;
    width: 85% !important;
    background: rgba(72, 2, 125, 0.60);
    border: 1px solid #a366ff;
    border-radius: 8px;
    padding: 5px;
}

#stake-title {
    display: inline-block;
    margin: 0;
    cursor: default;
}

#StakingTab {
    padding: 10px 10px 30px;
    margin: 20px 0 100px;
}

.staking-banner-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 200px;
    width: 100%;
}

#staking-rectangle {
    position: relative;
    display: block;
    height: 100px;
    max-width: 100% !important;
    border-bottom: 1px solid #a366ff;
}

#pivx-price-box {
    height: 100px;
    width: 240px;
    float: left;
}

#icon-box-piv {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 20px 15px 40px 35px;
    margin: 0 !important;
}

#piv-price-amount {
    margin: 0 !important;
    padding: 30px 30px 30px 30px;
    float: right;
}

#guiBalanceBoxStaking {
    display: inline-block;
    margin: 0;
    font-size: x-large;
}

#staking-box {
    height: 100px;
    width: 220px;
    float: right !important;
    padding: 30px 30px 30px 20px;
}

.staking-piv-icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-style: solid;
    border-radius: 1000px;
    border-width: 3px;
    background-size: cover;
    background-image: url(../images/freed-op.png);
}

.stake-box {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 220px;
    margin: 30px 5px 10px;
}


.stake-balances {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    padding: 5px;
}

.stake-input {
    color: black;
    font-size: 16px !important;
    text-align: center;
    line-height: 20px;
}


/* FOOTER */

#foot {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-top: solid #521186 1px;
    background-color: #2b09508c;
}

.footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
}

.footer a {
    color: white;
    font-weight: bold;
}

#dcfooter {
    display: inline;
}

.navbarSpecial {
    position: relative;
    width: 100%;
    padding: 20px 48px;
}

.wlc .navbarSpecial {
    position: sticky;
}

/* New styling */

/* Buttons */
.pivx-button-big {
    display: inline-block;
    outline: none;
    margin: 5px;
    font-family: Montserrat, sans-serif;
    height: auto;
    padding: 14px 30px;
    line-height: 1.25em;
    font: 15px Montserrat, sans-serif !important;
    letter-spacing: .025em;
    text-transform: uppercase;
    box-shadow: 3px 3px 25px 2px rgb(26 14 42 / 50%);
}

.button-padd {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 15px 10px;
}

.home-hero {
    background: linear-gradient(#020307, #1f1e29 25%)
}

.title-section {
    margin-bottom: 20px;
}

/*PIVX WARNINGS*/
.warning-message {
    display: none;
    background-color: #9021fe;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.warning-message p {
    margin-bottom: 0px;
}

.warning-message a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.alert-danger {
    border-color: hsla(0, 0%, 100%, .1);
}

/*PIVX TEXT CUSTOMS*/
.pivx-bold-title {
    line-height: 1.35em;
    font-size: calc(27.88235px + .70588vw);
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.pivx-bold-title-smaller {
    line-height: 1.35em;
    font-size: 28px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.pivx-bold-title span,
.pivx-bold-title-smaller span {
    font-size: .6em;
    display: block;
    line-height: 1.2em;
    font-weight: 300;
}

.center-text {
    text-align: center;
}

/*PIVX FEATURES SECTION*/
.pivx-feature-father {
    margin-top: 90px;
}

.pivx-feature-interior {
    background: linear-gradient(90deg, #2b1542, #230f3c);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.pivx-feature-interior h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 19px;
}

.pivx-feature-interior h5 {
    opacity: 0.65;
    padding: .7rem 0 1.25rem;
    line-height: 1.75em;
    font-size: 16px;
    font-weight: 300 !important;
}

.feature-icon {
    text-align: center;
    width: 100% !important;
    margin-top: -90px;
    min-height: 150px;
}

.feature-icon img {
    width: 146px;
    height: auto;
}

.smaller-feature {
    width: 100px !important;
}

.features-section {
    margin-top: 0px;
}

.buttoni-icon {
    vertical-align: top;
    display: inline-block;
    padding: 0 12px 0 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-icon svg {
    display: block;
    width: auto;
    height: 24px;
    max-height: 24px;
    margin: 0;
    fill: #fffeff;
}

.buttoni-text {
    vertical-align: top;
    display: inline-block;
    padding: 2px 0 0;
}

.buttoni-arrow {
    vertical-align: top !important;
    display: inline-block;
    padding: 4px 0 4px 10px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-arrow svg {
    display: block;
    width: 15px;
    height: auto;
    margin: 0;
    fill: #fffeff;
}

.purple-icon-link {
    color: #9621ff;
}

.purple-icon-link,
.white-icon-link {
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.black-link .link-icon.link-icon-suffix,
.dark-link .link-icon.link-icon-suffix,
.faded-link .link-icon.link-icon-suffix,
.gray-link .link-icon.link-icon-suffix,
.light-link .link-icon.link-icon-suffix,
.pink-link .link-icon.link-icon-suffix,
.purple-icon-link .link-icon.link-icon-suffix,
.purple-link .link-icon.link-icon-suffix,
.shaded-link .link-icon.link-icon-suffix,
.white-icon-link .link-icon.link-icon-suffix,
.white-link .link-icon.link-icon-suffix,
a .link-icon.link-icon-suffix {
    padding: 0 0 0 .6rem;
    float: right;
    margin-top: 2px;
    -webkit-transition: padding-left .14s ease-out;
    -moz-transition: padding-left .14s ease-out;
    -o-transition: padding-left .14s ease-out;
    transition: padding-left .14s ease-out;
}

.black-link .link-icon svg,
.dark-link .link-icon svg,
.faded-link .link-icon svg,
.gray-link .link-icon svg,
.light-link .link-icon svg,
.pink-link .link-icon svg,
.purple-icon-link .link-icon svg,
.purple-link .link-icon svg,
.shaded-link .link-icon svg,
.white-icon-link .link-icon svg,
.white-link .link-icon svg,
a .link-icon svg {
    display: block;
    width: 19px;
    height: auto;
    fill: #cac9d2;
}

.black-link,
.dark-link,
.faded-link,
.gray-link,
.light-link,
.pink-link,
.purple-icon-link,
.purple-link,
.shaded-link,
.white-icon-link,
.white-link,
a {
    vertical-align: top;
    display: inline-block;
    text-decoration: none !important;
}

.black-link,
.dark-link,
.faded-link,
.gray-link,
.light-link,
.pink-link,
.purple-icon-link,
.purple-link,
.shaded-link,
.white-icon-link,
.white-link,
a {
    outline: none;
    background: none;
    border: none;
}

/*PIVX DONATION SECTION*/
.donation-section {
    margin-top: 30px;
    margin-bottom: 80px;
}

/*PIVX DASHBOARD*/
.dashboard-item {
    background: #1f1e29;
    border-radius: 15px;
    padding: 0 15% 10px 15%;
    text-align: center;
    /* float: left; */
    margin-bottom: 15px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 30%);
}

.send-eligibility-section .container .column-padded-around .coinstat-icon,
.supply-control-section .container .column-padded-around .coinstat-icon {
    margin-bottom: .5rem;
}

.coinstat-icon,
.coinstat-icon svg,
.masternodes-requirements-section .masternode-requirement-icon,
.masternodes-requirements-section .masternode-requirement-icon svg,
.setup-icon,
.setup-icon svg {
    margin: 0 auto;
}

.coinstat-icon,
.feature-icon,
.masternodes-requirements-section .masternode-requirement-icon,
.setup-icon {
    display: block;
    width: 75px;
    height: 75px;
    padding: 0;
}

.coinstat-icon svg,
.feature-icon svg,
.masternodes-requirements-section .masternode-requirement-icon svg,
.setup-icon svg {
    display: block;
    width: 75px;
    max-height: 75px;
    padding: 0;
    fill: #9621ff;
}

.dashboard-title {
    margin-top: 15px;
}

.badge {
    margin-bottom: 13px;
}

.private-key-area {
    height: 45px !important;
    font-size: 14px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #521685;
    border: none;
    resize: none;
    color: white;
}

/* SEND */

#sendNotice {
    margin: 10px 0 20px 0;
}

#communication {
    color: white;
    opacity: 0.6;
    padding: 15px 5px 70px 5px;
}

#signed-raw {
    padding: 10px 0 5px;
}

.bold-trans {
    padding: 15px 0 15px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

/* SETTINGS */

#submit-button.pivx-button-big {
    width: auto !important;
    padding: 14px 90px;
}

#CreateManualTransactions,
#communication {
    display: none;
}

/* BREAKPOINTS */

@media screen and (max-width: 1200px) {

    /* Stake page */

    .button-padd .pivx-button-big {
        margin: 0;
        display: inline-block !important;
        width: 100% !important;
        padding: 15px 13px;
    }
}

@media screen and (max-width: 1199px) {

    /* Dashboard page */
    #genKeyWarning .pivx-button-big {
        margin-top: 20px;
    }

    #PrivateQR img,
    #PublicQR img {
        width: 90px !important;
        height: 90px !important;
    }

    #box-info-address {
        width: 64%;
    }

    #address-info {
        width: 60%;
    }

    #pubkey-padd {
        width: 33%;
    }
}

@media screen and (min-width: 1025px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 25px;
    }

    #PublicTxt {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 18px;
    }

    #PublicTxt {
        font-size: 25px;
    }

    /* Settings */

    #Settings .pivx-button-big {
        margin: 8px 2px;
    }
}

@media screen and (max-width: 1000px) {

    /* Stake page */

    #guiBalanceBoxStaking {
        display: inline-block;
        width: 100%;
    }

    .stake-box.large-box.col-md-4 {
        padding: 10px;
        display: inline-block !important;
        width: 50% !important;
        margin: 30px 10px !important;
    }

    .add-frame {
        width: 100% !important;
    }

    .stake-box .button-padd {
        padding: 15px 6px;
    }

    .stake-box .button-padd .pivx-button-big {
        padding: 15px 22px 15px 27px;
    }

    .stake-box .button-padd .buttoni-icon {
        display: none;
    }

    .button-padd .buttoni-arrow {
        padding-left: 5px;
        padding-right: 0;
    }
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
        flex-basis: unset;
        flex-grow: unset;
    }

    .navbar-collapse>div {
        display: flex;
        gap: 50px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-toggler {
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    .navbar-toggler .line {
        width: 29px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
    }

    .navbar-toggler.collapse .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar-toggler.collapse .line:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.collapse .line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .navbar-collapse {
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }

    .image-section {
        background-size: 85%;
        background-position: right;
    }

    /* Dashboard page */

    #big-frame-address {
        padding: 20px 0;
    }

    #genKeyWarning div {
        max-width: 100% !important;
    }

    #genKeyWarning p {
        width: 100% !important;
        padding-bottom: 15px;
    }

    #genKeyWarning .pivx-button-big {
        float: none;
        clear: both;
        display: block !important;
        margin: 0 auto;
    }

    #address-box.large-box {
        background: none;
    }

    #box-info-address {
        display: block;
        width: 100%;
        padding-top: 20px;
    }

    #address-info {
        width: 69%;
    }

    .margin-padded-qr {
        margin-bottom: 10px;
        padding: 10px;
    }

    #pubkey-padd {
        width: auto;
        display: block;
        padding-top: 60px;
    }

    #pubkey-box {
        display: block;
    }

    #pubkey-box .pivx-button-big {
        width: 230px !important;
    }

    #PrivateQR img,
    #PublicQR img {
        width: 75px !important;
        height: 75px !important;
    }

    /* Intro page */
    .intro-page .col-md-11 {
        width: 100% !important;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 991px) {
    nav .navbar-collapse>div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav .navbar-collapse:not(.wlc .navbar-collapse) {
        background: linear-gradient(transparent, #05060b);
        border-radius: 9px;
    }

    nav .buttons-section {
        flex-direction: column;
        align-items: flex-end;
        padding: 20px 5px;
        border-radius: 10px;
    }

    nav .buttons-section:not(.wlc .buttons-section) {
        border-left: 1px solid hsla(0, 0%, 100%, .1);
    }

    .nav-item:not(:first-child) {
        border-top: 1px solid hsla(0, 0%, 100%, .1);
    }

    .bal-text {
        display: none;
    }
}

@media screen and (max-width: 770px) {

    #pivx-price-box {
        width: 200px;
    }

    #piv-price-amount {
        padding: 30px 15px 30px 35px;
    }

    #icon-box-piv {
        padding: 20px 10px 30px 15px;
        margin: 0 !important;
    }

    #staking-box {
        width: 190px;
        padding: 30px 5px 30px 20px;
    }
}

@media screen and (max-width: 768px) {
    .navbarSpecial {
        padding: 20px 15px;
    }

    .welcome-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .welcome-wrapper:before {
        background-image: url(../images/abstract.webp);
        background-position: 0 30%;
        opacity: 0.15;
    }

    .welcome-section {
        flex-basis: unset;
    }

    .image-section {
        background-size: 100%;
        background-position: center;
    }

    .welcome-section h1 {
        font-size: 30px;
        font-weight: 300;
    }

    .welcome-section h5 {
        font-size: 17px;
        font-weight: 100;
    }

    .btn_txt {
        font-size: 13px;
        font-weight: 400;
    }


    /* Main Wallet page */
    #PrivateTxt {
        font-size: 17px;
    }

    #PublicTxt {
        font-size: 25px;
    }

    /* Paddings - text */
    .dashboard-item {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Dashboard page */

    #guiBalanceBox {
        margin: 0;
    }

    #address-info {
        width: 65%;
    }

    #pubkey-box {
        padding-top: 40px;
    }

    #pubkey-box .pivx-button-big {
        width: 225px !important;
    }
}

@media screen and (max-width: 767px) {

    /* Dashboard */

    #genKeyWarning .pivx-button-big {
        padding: 13px 20px;
    }

    #piv-ring {
        display: none;
    }

    #ring {
        padding: 0 5px 20px 50px;
    }

    #identicon {
        height: 60px;
        width: 60px;
    }

    /* Stake page */

    .stake-box.large-box.col-md-4 {
        padding: 10px 20px;
        width: 85% !important;
    }
}

@media screen and (max-width: 600px) {

    /* Buttons - Hide icons or it will be deformed */
    .buttoni-arrow,
    .buttoni-icon {
        display: none;
    }

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 13px;
    }

    #PublicTxt {
        font-size: 17px;
    }

    /* STAKE page */

    #staking-box {
        padding: 30px 5px 30px 35px;
    }

    #stake-title {
        font-size: 25px;
    }

    #submit-button.pivx-button-big {
        padding: 14px 85px 14px 100px;
        margin-top: 20px;
    }

    /* Dashboard */

    #address-info {
        width: 55%;
    }
}

@media screen and (max-width: 550px) {

    /* Dashboard page */

    #ring {
        padding: 5px 5px 30px 40px;
        vertical-align: top;
    }


    #address-box.large-box {
        padding-top: 20px;
        /*background: linear-gradient(217deg, rgb(51, 0, 153, 0.1), rgb(34, 0, 102, 0.3) 70.71%);*/
        border-color: #763acf;
    }

    #title-address-box {
        width: auto;
        padding: 10px 20px 0 20px;
    }

    #box-info-address {
        padding-top: 25px;
    }

    #address-info {
        width: 59%;
    }

    /* STAKE page */

    #info {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 535px) {

    /* Dashboard */

    #pubkey-box .pivx-button-big {
        width: 200px !important;
    }

    #transaction_table th:last-child,
    #transaction_table td:last-child {
        display: none;
    }
}

@media screen and (max-width: 510px) {

    /* Dashboard page */

    #pubkey-box .pivx-button-big {
        padding: 12px 10px;
    }

    /* Settings page */
    #Settings {
        text-align: center;
    }

    #icon-box-piv {
        display: none;
    }

    #pivx-price-box {
        width: 130px;
    }
}

@media screen and (max-width: 480px) {
    .brand-logo {
        width: 33px;
    }

    .nav-logo {
        font-size: 18px;
    }

    .welcome-wrapper {
        gap: 10px;
    }

    .welcome-wrapper .buttons-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-section {
        max-height: 300px;
        background-position: center 80%;
    }

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 8px;
    }

    #PublicTxt {
        font-size: 13px;
    }

    /* Stake */


    #pivx-price-box {
        width: auto;
    }

    /* Dashboard */

    #number-piv {
        padding: 15px 5px 15px;
    }

    #ring {
        padding: 5px 5px 30px 30px;
    }

    #pubkey-padd {
        padding-top: 40px;
    }
}

@media screen and (max-width: 420px) {

    /* Send */

    .max-width {
        width: 98%;
    }

    #Transaction.tabcontent {
        padding: 10px 15px 110px 15px;
    }

    /* Settings page */

    #submit-button.pivx-button-big {
        display: block;
        height: auto;
        margin: 0 auto;
    }

    .buttoni-arrow {
        display: none;
    }

    #navbarToggler {
        position: sticky;
        left: 290px;
    }

    /* Dashboard */


    #piv-ring {
        display: none !important;
    }

    #guiBalanceBox {
        font-size: 18px !important;
    }

    #balance-box h3 {
        font-size: 20px;
    }

    #identicon {
        width: 55px;
        height: 55px;
    }

    #pubkey-box .pivx-button-big {
        padding: 11px 10px;
    }

    #pubkey-box.col-md-4 {
        padding-top: 20px;
    }
}

@media screen and (max-width: 393px) {

    /* Dashboard */
    .dashboard-item .container {
        padding: 0;
    }

    #piv-price-amount {
        padding: 30px 15px;
    }

    #address-box.large-box {
        padding-top: 15px;
    }

    #title-address-box {
        padding: 18px 20px 0 15px;
    }

    #ring {
        padding: 5px 5px 30px 20px;
    }

    #address-info {
        padding-left: 15px;
    }

    #pubkey-padd {
        padding-top: 30px;
    }
}

@media screen and (max-width: 380px) {

    /* Nav */
    #navbarToggler {
        left: 180px;
    }

    .tabcontent {
        padding: 0;
    }

    /* Stake */

    #staking-box {
        padding: 30px 10px 35px 10px;
        height: auto;
        width: auto;
    }

    /* Dashboard */

    #number-piv {
        padding: 15px 5px 15px;
    }

    #balance-box h3 {
        font-size: 24px;
    }

    #pubkey-box .pivx-button-big {
        padding: 11px 10px;
    }
}

@media screen and (max-width: 360px) {

    /* Dashboard */
    .pivx-button-big {
        margin-right: 0;
        margin-left: 0;
    }

    #address-info {
        width: 90%;
        padding-left: 35px;
    }

    #guiQRButton {
        padding: 15px 10px;
    }

    #identicon,
    #ring {
        display: none;
    }

    #piv-price-amount {
        padding: 30px 5px 30px 20px;
    }

    #balance-box h3 {
        font-size: 22px;
    }

    #pubkey-box .pivx-button-big {
        width: 150px !important;
    }

    /* Stake */

    #staking-box {
        padding: 35px 10px 35px 10px;
    }

    #stake-title {
        font-size: 22px !important;
        height: auto;
    }
}

@media screen and (max-width: 332px) {

    /* Dashboard */


}

@media screen and (max-width: 320px) {

    /* Intro */

    #navbarToggler {
        font-size: 14px;
    }

    .feature-icon img {
        width: 115px !important;
        height: auto;
    }

    .feature-icon .smaller-feature {
        width: 80px !important;
        height: auto;
    }

    .donation-section .pivx-button-big {
        width: 225px !important;
        margin: 0 auto;
    }

    /* Stake */

    #piv-price-amount {
        padding: 30px 5px 30px 10px;
    }

    #staking-box {
        padding: 35px 5px 35px 5px;
    }

    /* Settings */

    .pivx-button-big {
        font-size: 14px !important;
    }

    #submit-button.pivx-button-big {
        padding: 14px 50px !important;
    }
}

@media screen and (max-width: 300px) {

    /* Intro */

    #navbarToggler {
        left: 80px !important;
        font-size: 12px;
    }

    #page-container {
        min-width: 280px;
        min-height: 900px;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .row {
        margin-left: 1px;
        margin-right: 1px;
    }

    .features-section .col-md-6 {
        float: none !important;
        clear: both !important;
        display: block !important;
        margin: 100px auto 50px auto;
        width: 220px;
        margin-right: 20px;
    }

    .pivx-feature-interior {
        width: 100% !important;
        padding: 15px 8px;
    }

    .pivx-bold-title {
        font-size: calc(32px + 1vw);
    }

    .donation-section {
        margin-top: 0px;
    }

    /* Stake */

    .add-frame {
        height: 750px !important;
    }

    .stake-box.large-box.col-md-4 {
        margin: 30px 10px 10px 10px !important;
    }

    #piv-price-amount {
        padding: 30px 60px;
        text-align: center !important;
    }

    #staking-box {
        padding: 30px 20px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #a366ff;
    }

    #stake-title,
    #guiBalanceBoxStaking {
        font-weight: 600;
    }

    .stake-box .button-padd .pivx-button-big {
        padding: 14px 18px;
    }
}

/* Alert */
.alertPositioning {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 10px;
}

.alertpop {
    padding: 20px;
    right: 0px;
    background-color: #282828b5;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alertpop.success {
    background-color: #0DE69694;
}

.alertpop.info {
    background-color: #2196F37D;
}

.alertpop.warning {
    background-color: #d94a2982;
}

.alertpop:hover {
    cursor: pointer;
}
